<ion-toolbar>
    <ion-searchbar #txtSearch placeholder="Type a Login-name" (ionChange)="goUser(txtSearch.value)"></ion-searchbar>
</ion-toolbar>

<ion-card *ngIf="userDetail.login">
    <img src="{{ userDetail.avatar_url }} " />
    <ion-card-header>
        <ion-card-title>@{{ userDetail.login }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        Bio: {{ userDetail.bio }}
        <ion-item>
            <ion-label *ngIf="userDetail.company">
                Company: {{ userDetail.company }}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label *ngIf="userDetail.location">
                Location: {{ userDetail.location }}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label *ngIf="userDetail.blog">
                Website: {{ userDetail.blog }}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label *ngIf="userDetail.twitter_username">
                Twiter: @{{ userDetail.twitter_username }}
            </ion-label>
        </ion-item>
    </ion-card-content>
</ion-card>